
// Converted Variables


// Custom Media Query Variables


/*

   LINKS
   Docs: http://tachyons.io/docs/elements/links/

*/

.link {
  border-bottom: dotted $pink 1px;
  display: inline-block;
  color: $white;
  cursor: pointer;
  text-decoration: none;
  transition: color .15s ease-in;
}

.link:link,
.link:visited {
  transition: color .15s ease-in;
}
.link:hover   {
  transition: color .15s ease-in;
  color: $pink;
}
.link:active  {
  transition: color .15s ease-in;
  color: $pink;
}
.link:focus   {
  transition: color .15s ease-in;
  outline: 1px dotted currentColor;
}

